/* --------------------------------------------------------
Shopping Live - Farmacias Knop

Version: 2.0
Last modified: 07/03/2022 by Farmacias Knop
Author: Farmacias Knop
Website: http://farmaciasknop.com
----------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');

body {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-800 {
    font-weight: 800;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.mt-7 {
    margin-top:7rem;
}

.verde-claro {
    color: #83b735;
}

.verde-oscuro {
    color: #1c5630;
}

.naranja {
    color: #bd551e;
}

.gris {
    color: #343230;
}

.blanco {
    color: white;
}

.amarillo {
    color: #b5ff00 !important;
}

.titulo {
    font-family: 'Merriweather Sans', sans-serif;
}

.btn-default {
    background-color: #1c5630 !important;
    color: white !important;
}

.btn-default:hover {
    background-color: #83b735 !important;
}

.icono01 {
    width: 45px;
    height: 45px;
    padding-bottom: 10px;
    color: #1c5630;
}

.logotipo {
    width: 250px;
    background-size: cover;
}

.nav-link {
    color: white;
}

.navbar-dark .navbar-toggler {
    color: #245830 !important;
}

.imagen01 {
    width: 100%;
    position: relative;
}

.imagen02 {
    width: 80%;
    position: relative;
}

.img-border {
    border-radius: 10px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.bg-gris {
    background-color: #efefef;
    padding: 30px;
}

.collapse-area {
    background: #d7d8dc;
}
.footer-bg {
    background-color: #1c5830;
    padding: 5px 0;
}

.list-group-item {
    background-color: #1c5830 !important;
    color: white !important;
}

.email {
  font-size: 12px;
}

.telefono {
  font-size: 20px;
  font-weight: 600;
}

.horario {
  font-size: 14px;
  font-weight: 400;
}

.txt-none {
    text-decoration: none;
    color: white;
  }
  
  .txt-none:hover {
    text-decoration: none;
    color: white;
  }

  .b-bottom {
    border-bottom: 2px solid #b5ff00;
    padding: 5px 0;
  }



  .back-to-top {
    background-color: #83b735 !important;
    border:1px solid #83b735;
    color: white;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    padding: 5px;
}

.btn-light {
    border-color: #83b735 !important;
}

.icono-collapse {
    float: right;
    width: 35px;
    height: 35px;
}

.texto-collapse {
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500 !important;
}

@media (max-width: 768px) {
    .logotipo {
        width: 220px;
        background-size: cover;
        
    }

    .feather {
        height: 24px;
        width: 24px;
    }

    .imagen01 {
        width: 100%;
        position: relative;
        left: 0px;
    }

    .boton-tienda {
        margin: 0px 0 15px 0;
    }

    .icono01 {
        width: 50px;
        height: 50px;
    }

    .mt-7 {
        margin-top: 3rem;
    }

    .form-control {
        margin: 5px 0;
    }

    .boton {
        margin: 5px 0;
    }

    .hidden-xs {
        display: none;
    }

    .p-10 {
        padding:10px 0;
    }

    
    .logotipo-footer {
        width: 250px;
        background-size: cover;
        padding: 10px;
    }

    .orden-uno {order:2;}
    .orden-dos {order:1;}
    .orden-tres {order:4;}
    .orden-cuatro {order:3;}
}
