/* --------------------------------------------------------
Producto Específico - Farmacias Knop

Version: 2.0
Last modified: 23/02/2022 by Farmacias Knop
Author: Farmacias Knop
Website: http://farmaciasknop.com
----------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-800 {
    font-weight: 800;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.verde-claro {
    color: #83b735;
}

.verde-oscuro {
    color: #1c5630;
}

.naranja {
    color: #bd551e;
}

.gris {
    color: #343230;
}

.blanco {
    color: white;
}

.btn-default {
    background-color: #1c5630 !important;
    color: white !important;
}

.btn-default:hover {
    background-color: #83b735 !important;
}

.icono01 {
    width: 45px;
    height: 45px;
    padding-bottom:10px;
    color: #1c5630;
}

.logotipo {
    width: 70px;
    background-size: cover;
}

.nav-link {
    color: white;
}

.navbar-dark .navbar-toggler {
    color: #245830 !important;
}

.imagen01 {
    width: 120%;
    position: relative;
}

.img-border {
    border-radius: 10px;
}

@media (max-width: 768px) {
    .logotipo {
        width: 50px;
        background-size: cover;
    }

    .feather {
        height: 24px;
        width: 24px;
    }

    .imagen01 {
        width: 100%;
        position: relative;
        left: 0px;
    }

    .boton-tienda {
        margin: 0px 0 15px 0;
    }
}
